@using System.Security.Cryptography;
@inject server_prog_blazer_app.Codes.EncryptionTest _encryptionTest;
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@code{
    protected override void OnInitialized()
    {
        string result  = _encryptionTest.Protect("Hello World");
        result = _encryptionTest.UnProtect(result);


        //string myPassword = "Passw0rd1";
        //MD5 md5 = MD5.Create();
        //string salt = "sgdsdufygtvfbsibvusibsiddsnssfvubhsdjkflsa";
        //byte[] myPasswordHash = System.Text.Encoding.UTF8.GetBytes(myPassword + salt);
        //byte[] myPasswordResult = md5.ComputeHash(myPasswordHash);
        //string myPasswordResultStr = Convert.ToBase64String(myPasswordResult);

        //salt = BCrypt.Net.BCrypt.GenerateSalt(31);
        //string bcryptHashedResult = BCrypt.Net.BCrypt.HashPassword(myPassword, salt);
        //bool match = BCrypt.Net.BCrypt.Verify("Passw0rd1", bcryptHashedResult);


    }
}


