@page
@using Microsoft.AspNetCore.Authorization;
@model server_prog_blazer_app.Pages.TodoModel
@{
}
@attribute [Authorize(Policy = "RequireAuthUser")]

<div class="row">
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Stack Size</th>
                    <th scope="col">Item Price</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div>
    </div>
</div>
